<template>
    <div>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img :src="artwork.url" :alt="artwork.title">
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="column is-8">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">
                                            {{ artwork.title }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <footer class="card-footer">
                                <a class="card-footer-item" id="cost">
                                    <i class="fa fa-eur fa-fw fa-lw"></i>13,00
                                </a>
                                <a class="card-footer-item" id="like">
                                    <i class="fa fa-heart fa-fw fa-lw"></i>{{ artwork.like }}
                                </a>
                                <a class="card-footer-item" id="fav">
                                    <i class="fa fa-star fa-fw fa-lw"></i>{{ artwork.favorite }}
                                </a>
                            </footer>
                        </div>

                        <br>
                        <a id="links" class="button is-primary" disabled>Buy it for 13,00 €</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Artwork',
    data () {
        return {
            username: this.$route.params.username,
            artwork: {},
            errors: []
        }
    },

    created() {
        this.$http.post('http://localhost:3000/api/artwork', {}, { params: { id: this.$route.params.artwork } })
            .then(response => {
                this.artwork = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })
    }
}
</script>

<style>
    #links {
        text-decoration: none;
        width: 100%;
        margin: 5px 10px;
    }
</style>
