<template>
    <div>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div v-for="(artwork, id) of artworks" class="column is-4">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <router-link :to="{ name: 'artwork', params: { username: username, artwork: artwork.id } }">
                                        <img :src="artwork.url" :alt="artwork.title">
                                    </router-link>
                                </figure>
                            </div>

                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">
                                            <router-link :to="{ name: 'artwork', params: { username: username, artwork: artwork.id } }">{{ artwork.title }} {{ id }}</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <footer class="card-footer">
                                <a class="card-footer-item" id="cost">
                                    <i class="fa fa-eur fa-fw fa-lw"></i>11,00
                                </a>
                                <a class="card-footer-item" id="like">
                                    <i class="fa fa-heart fa-fw fa-lw"></i>{{ artwork.like }}
                                </a>
                                <a class="card-footer-item" id="fav">
                                    <i class="fa fa-star fa-fw fa-lw"></i>{{ artwork.favorite }}
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Home',
    data () {
        return {
            username: this.$route.params.username,
            artworks: {},
            errors: []
        }
    },

    created() {
        this.$http.post('http://localhost:3000/api/user', {}, { params: { username: this.$route.params.username } })
            .then(response => {
                this.artworks = response.data['Artworks']
            })
            .catch(e => {
                this.errors.push(e)
            })
    }
}
</script>
