<template>
    <div>
        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-96x96">
                                <img :src="user.avatar">
                            </p>
                        </figure>

                        <div class="media-content">
                            <div class="content" id="user-content">
                                <p>
                                    <strong>{{ user.username }}</strong> <small>@{{ user.username }}</small>
                                    <br>
                                    {{ user.bio }}
                                </p>
                            </div>

                            <nav class="level">
                                <div class="level-left">
                                </div>
                            </nav>
                        </div>

                        <div class="media-right">
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="tabs is-right">
                    <ul>
                        <li class="is-active">
                            <router-link :to="{ name: 'user', params: { username: user.username } }">
                                <span class="icon is-small"><i class="fa fa-image"></i></span>
                                <span>Artwork</span>
                            </router-link>
                        </li>
                    </ul>
                </div>

                <router-view></router-view>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'Main',
    data () {
        return {
            user: {},
            artworks: {},
            errors: []
        }
    },

    created() {
        this.$http.post('http://localhost:3000/api/user', {}, { params: { username: this.$route.params.username } })
            .then(response => {
                this.user = response.data
                this.artworks = response.data['Artworks']
            })
            .catch(e => {
                this.errors.push(e)
            })
    }
}
</script>

<style>
    #user-content {
        color: white;
    }
</style>
