<template>
    <div>
        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Blog</h1>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'blog'
}
</script>
