<template>
    <div>
        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Welcome on Qwertee
                    </h1>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <article class="message is-primary">
                    <div class="message-body">
                        Hurry. These are gone forever in 05 hours 18 minutes 00 seconds.
                    </div>
                </article>

                <div class="columns">
                    <div v-for="top of tops" class="column is-4">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <router-link :to="{ name: 'artwork', params: { username: top.User.username, artwork: top.id } }">
                                        <img :src="top.url" :alt="top.title">
                                    </router-link>
                                </figure>
                            </div>

                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image" style="height: 40px; width: 40px;">
                                            <router-link :to="{ name: 'user', params: { username: top.User.username } }">
                                                <img :src="top.User.avatar" :alt="top.User.username">
                                            </router-link>
                                        </figure>
                                    </div>

                                    <div class="media-content">
                                        <p class="title is-4">
                                            <router-link :to="{ name: 'artwork', params: { username: top.User.username, artwork: top.id } }">{{ top.title }}</router-link>
                                        </p>

                                        <p class="subtitle is-6">
                                            Made by
                                            <router-link :to="{ name: 'user', params: { username: top.User.username } }">@{{ top.User.username }}</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <footer class="card-footer">
                                <a class="card-footer-item" id="cost">
                                    <i class="fa fa-eur fa-fw fa-lw"></i>11,00
                                </a>
                                <a class="card-footer-item" id="like">
                                    <i class="fa fa-heart fa-fw fa-lw"></i>{{ top.like }}
                                </a>
                                <a class="card-footer-item" id="fav">
                                    <i class="fa fa-star fa-fw fa-lw"></i>{{ top.favorite }}
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <p class="title">
                        Lucky you
                    </p>

                    <p class="subtitle">
                        This is your last change to get these t-shirts.
                    </p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div v-for="top of oldTops" class="column is-4">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <router-link :to="{ name: 'artwork', params: { username: top.User.username, artwork: top.id } }">
                                        <img :src="top.url" :alt="top.title">
                                    </router-link>
                                </figure>
                            </div>

                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image" style="height: 40px; width: 40px;">
                                            <router-link :to="{ name: 'user', params: { username: top.User.username } }">
                                                <img :src="top.User.avatar" :alt="top.User.username">
                                            </router-link>
                                        </figure>
                                    </div>

                                    <div class="media-content">
                                        <p class="title is-4">
                                            <router-link :to="{ name: 'artwork', params: { username: top.User.username, artwork: top.id } }">{{ top.title }}</router-link>
                                        </p>

                                        <p class="subtitle is-6">
                                            Made by
                                            <router-link :to="{ name: 'user', params: { username: top.User.username } }">@{{ top.User.username }}</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <footer class="card-footer">
                                <a class="card-footer-item" id="cost">
                                    <i class="fa fa-eur fa-fw fa-lw"></i>13,00
                                </a>
                                <a class="card-footer-item" id="like">
                                    <i class="fa fa-heart fa-fw fa-lw"></i>{{ top.like }}
                                </a>
                                <a class="card-footer-item" id="fav">
                                    <i class="fa fa-star fa-fw fa-lw"></i>{{ top.favorite }}
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'home',
    data: () => ({
        tops: [],
        oldTops: [],
        tees: [],
        errors: []
    }),

    created() {
        this.$http.get('http://localhost:3000/api/top')
            .then(response => {
                this.tops = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })

        this.$http.get('http://localhost:3000/api/top/old')
            .then(response => {
                this.oldTops = response.data
            })
            .catch(e => {
                this.errors.push(e)
            })
    }
}
</script>

<style>
    #fav {
        color: rgb(250, 180, 10);
    }

    #like {
        color: rgb(200, 50, 50);
    }

    .fa-lw {
        font-size: 11px;
        margin-right: 5px;
    }
</style>
