<template>
    <div>
        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Random t-shirt</h1>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <router-link :to="{ name: 'artwork', params: { username: user.username, artwork: artwork.id } }">
                                        <img :src="artwork.url" :alt="artwork.title">
                                    </router-link>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="column is-8">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image" style="height: 40px; width: 40px;">
                                            <router-link :to="{ name: 'user', params: { username: user.username } }">
                                                <img :src="user.avatar" :alt="user.username">
                                            </router-link>
                                        </figure>
                                    </div>

                                    <div class="media-content">
                                        <p class="title is-4">
                                            <router-link :to="{ name: 'artwork', params: { username: user.username, artwork: artwork.id } }">{{ artwork.title }}</router-link>
                                        </p>

                                        <p class="subtitle is-6">
                                            Made by
                                            <router-link :to="{ name: 'user', params: { username: user.username } }">@{{ user.username }}</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <footer class="card-footer">
                                <a class="card-footer-item" id="cost">
                                    <i class="fa fa-eur fa-fw fa-lw"></i>13,00
                                </a>
                                <a class="card-footer-item" id="like">
                                    <i class="fa fa-heart fa-fw fa-lw"></i>{{ artwork.like }}
                                </a>
                                <a class="card-footer-item" id="fav">
                                    <i class="fa fa-star fa-fw fa-lw"></i>{{ artwork.favorite }}
                                </a>
                            </footer>
                        </div>

                        <br>

                        <article class="message is-primary">
                            <div class="message-header">
                                <p>{{ user.username }}'s Bio</p>
                            </div>

                            <div class="message-body">
                                {{ user.bio }}
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: 'random',
    data () {
        return {
            artwork: {},
            user: {},
            errors: []
        }
    },

    created() {
        this.$http.get('http://localhost:3000/api/random')
            .then(response => {
                this.artwork = response.data
                this.user = response.data['User']
            })
            .catch(e => {
                this.errors.push(e)
            })
    }
}
</script>

<style>
    #fav {
        color: rgb(250, 180, 10);
    }

    #like {
        color: rgb(200, 50, 50);
    }

    .fa-lw {
        font-size: 11px;
        margin-right: 5px;
    }
</style>
