<template>
    <div id="app">
        <nav class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        <strong>Qwertee</strong>
                    </a>
                    <router-link :to="{ name: 'index' }" class="nav-item is-tab is-hidden-mobile">Home</router-link>
                    <router-link :to="{ name: 'random' }" class="nav-item is-tab is-hidden-mobile">Random</router-link>
                </div>

                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>

                <div class="nav-right nav-menu">
                    <router-link :to="{ name: 'blog' }" class="nav-item is-tab is-hidden-mobile">Blog</router-link>
                    <router-link :to="{ name: 'forum' }" class="nav-item is-tab is-hidden-mobile">Forum</router-link>
                    <router-link :to="{ name: 'about' }" class="nav-item is-tab is-hidden-mobile">About</router-link>

                    <span class="nav-item">
                        <a class="button is-primary">Sign in</a>
                        <a class="button is-primary is-outlined"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i></a>
                    </span>

                </div>
            </div>
        </nav>

        <router-view></router-view>

        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        <strong>Qwertee</strong> - The source code is licensed
                        <a href="http://opensource.org/licenses/Apache-2.0">Apache2</a>. The website content
                        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'app'
}
</script>
